---
import { cn } from "../utils/utils";
import ClipboardIcon from "./icons/ClipboardIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import CheckmarkIcon from "./icons/CheckmarkIcon.astro";

const { class: className } = Astro.props;
---

<div class={cn("px-2", className)}>
  <div
    class="w-full relative inline-flex h-auto overflow-hidden
    rounded-xl p-[2px] focus:outline-none focus:ring-2
    focus:ring-slate-400 focus:ring-offset-2
    focus:ring-offset-slate-50 shadow-lg"
  >
    <div class="size-auto">
      <span
        class="absolute blur-[36px] inset-[-400%]
      animate-[spin_3s_linear_infinite]
      bg-[conic-gradient(from_90deg_at_50%_50%,#93F2F2_0%,#216EB5_50%,#93F2F2_100%)]
      opacity-85"
      ></span>
    </div>

    <div
      class="w-full flex flex-row h-full items-start
      justify-center gap-[2px] rounded-xl text-md font-regular text-cloud-300 z-10"
    >
      <button
        class="relative bg-cloud-900 flex size-full py-2.5 px-4
        animate-shimmer items-center justify-center rounded-[11px]
        rounded-tr-[5px] rounded-br-[5px] gap-2 group"
        id="emailBtn"
        data-clipboard-text="keanukent.dev@gmail.com"
      >
        <div>keanukent.dev@gmail.com</div>
        <ClipboardIcon class="size-4 text-cloud-400" />
        <div
          class="group-hover:opacity-100 opacity-0 flex absolute size-full top-0 left-0 rounded-[11px]
        rounded-tr-[5px] rounded-br-[5px] animate-shimmer
          text-cloud-400 backdrop-blur-[1.5px] items-center
          justify-center text-sm font-medium
          bg-[linear-gradient(110deg,#151C30,45%,rgba(40,54,94,0.5),55%,#151C30)]
          bg-[length:200%_100%] transition ease-in duration-350"
          id="copyStatus"
        >
          <div id="copyEmail">Copy email address</div>
          <div id="copiedEmail" class="hidden">
            <div class="flex items-center justify-center gap-1 text-teal-500">
              <span> Copied</span>
              <CheckmarkIcon class="size-5" />
            </div>
          </div>
        </div>
      </button>
      <a
        class="rounded-[5px] bg-cloud-900
        size-full py-2.5 px-4 flex justify-center
        hover:bg-[#0E243E] transition-colors"
        href="https://www.linkedin.com/in/keanukentgargar/"
        target="_blank"
      >
        <LinkedInIcon class="size-6 text-[#2E6CB5]" />
      </a>

      <a
        class="rounded-tl-[5px] rounded-bl-[5px] bg-cloud-900
        size-full py-2.5 px-4 rounded-[11px] flex justify-center
        hover:bg-[#241327] transition-colors"
        href="https://github.com/KeentGG"
        target="_blank"
      >
        <GithubIcon class="size-6 text-[#A54CB1]" />
      </a>
    </div>
  </div>
</div>

<script>
  import copy from "clipboard-copy";
  const copiedTimeShow = 2000;

  async function onCopyClick(isTouch = false) {
    const copiedElement = document.getElementById("copiedEmail");
    const copyElement = document.getElementById("copyEmail");
    const statusElement = document.getElementById("copyStatus");

    statusElement.classList.remove("hidden");

    if (isTouch) {
      copyElement.classList.remove("hidden");
      copiedElement.classList.add("hidden");
    } else {
      copiedElement.classList.toggle("hidden");
      copyElement.classList.toggle("hidden");
    }

    copy("keanukent.dev@gmail.com");

    setTimeout(() => {
      if (isTouch) {
        statusElement.classList.add("hidden");
      } else {
        copiedElement.classList.toggle("hidden");
        copyElement.classList.toggle("hidden");
      }
    }, copiedTimeShow);
  }

  document
    .getElementById("emailBtn")
    .addEventListener("click", () => onCopyClick(false));

  document
    .getElementById("emailBtn")
    .addEventListener("touchstart", () => onCopyClick(true));
</script>
