<div class="relative h-auto w-6 shrink-0">
    <div class="w-px bg-cloud-700 h-full mx-auto"></div>
    <div
        class="absolute left-1/2 -translate-x-1/2
        top-[18px] size-[9px] bg-cloud-900 border border-cloud-600 rounded-[50%]"
    >
    </div>
</div>
